In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('airqual.csv', parse_dates=[['Date', 'Time']],
                na_values=[-200], usecols=['Date', 'Time', 'CO(GT)',
                                          'T', 'RH', 'AH']).rename(
columns={'CO(GT)':'co',
        'Date_Time': 'tstamp', 'T':'temp_c', 'RH':'rel_hum',
        'AH': 'abs_hum',}).set_index('tstamp')

In [6]:
df.head(5)

                      co  temp_c  rel_hum  abs_hum
tstamp
2004-03-10 18:00:00  2.6    13.6     48.9   0.7578
2004-03-10 19:00:00  2.0    13.3     47.7   0.7255
2004-03-10 20:00:00  2.2    11.9     54.0   0.7502
2004-03-10 21:00:00  2.2    11.0     60.0   0.7867
2004-03-10 22:00:00  1.6    11.2     59.6   0.7888

In [8]:
df.index.min()

Timestamp('2004-03-10 18:00:00')

In [9]:
df.index.max()

Timestamp('2005-04-04 14:00:00')

# Obtener el nombre del dia de la semana de acuerdo a la fecha

In [12]:
day_names = df.index.day_name()
type(day_names)

pandas.core.indexes.base.Index

In [13]:
day_names[:10]

Index(['Wednesday', 'Wednesday', 'Wednesday', 'Wednesday', 'Wednesday',
       'Wednesday', 'Thursday', 'Thursday', 'Thursday', 'Thursday'],
      dtype='object', name='tstamp')

-----------------------------------------------------------------

In [15]:
df.groupby(day_names)['co'].mean()

tstamp
Friday       2.543041
Monday       2.016741
Saturday     1.861077
Sunday       1.438069
Thursday     2.455505
Tuesday      2.382267
Wednesday    2.400787
Name: co, dtype: float64

# Obtener la hora por dia

In [19]:
hr = df.index.hour

In [22]:
df.groupby([day_names, hr])["co"].mean().rename_axis(["dow", "hr"])

dow        hr
Friday     0     1.936170
           1     1.608511
           2     1.172340
           3     0.887234
           4     0.823333
           5     0.781633
           6     1.079592
           7     2.277551
           8     3.552083
           9     3.858333
           10    3.125000
           11    2.722449
           12    2.555102
           13    2.836735
           14    2.769388
           15    2.672000
           16    3.017647
           17    3.515385
           18    3.856863
           19    4.007843
           20    3.823529
           21    2.849020
           22    2.147059
           23    2.137255
Monday     0     1.451064
           1     1.212766
           2     0.851064
           3     0.672093
           4     0.520833
           5     0.584091
                   ...
Tuesday    18    3.959091
           19    4.361364
           20    4.061364
           21    2.877273
           22    1.948837
           23    1.769048
Wednesday  0     1.564286
           1     1.358537
           2     1.058537
           3     0.802500
           4     0.791304
           5     0.692500
           6     1.015000
           7     2.248780
           8     3.468293
           9     3.627273
           10    2.929545
           11    2.492683
           12    2.373810
           13    2.461905
           14    2.411905
           15    2.275610
           16    2.388636
           17    3.157778
           18    3.917021
           19    4.146809
           20    3.844681
           21    2.897872
           22    2.102128
           23    1.938298
Name: co, Length: 168, dtype: float64

-----------------------------------------------------------------

In [23]:
bins = pd.cut(df['temp_c'], bins=3, labels=('cool', 'warm', 'hot'))
df[['rel_hum', 'abs_hum']].groupby(bins).agg(['mean','median'])

          rel_hum          abs_hum
             mean median      mean  median
temp_c
cool    57.651452   59.2  0.665874  0.6581
warm    49.382716   49.3  1.182894  1.1452
hot     24.994334   24.1  1.292958  1.2742

In [27]:
df.groupby([df.index.year, df.index.quarter])['co'].agg(['max','min']).rename_axis(['year', 'quarter'])

               max  min
year quarter
2004 1         8.1  0.3
     2         7.3  0.1
     3         7.5  0.1
     4        11.9  0.1
2005 1         8.7  0.1
     2         5.0  0.3

In [28]:
df.resample("Q")["co"].agg(["max", "min"])

             max  min
tstamp
2004-03-31   8.1  0.3
2004-06-30   7.3  0.1
2004-09-30   7.5  0.1
2004-12-31  11.9  0.1
2005-03-31   8.7  0.1
2005-06-30   5.0  0.3